:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --sidebar-background: #9c9c9c;
  --sidebar-item-background: #e7e7e7;
  --sidebar-item-color: #000000;
  --sidebar-item-hover: #222222;
  --sidebar-border: #383838;
  --chat-window-background: #ffffff;
  --special-button-hover: #0056b3;
  --special-button: #007bff;
  --special-button1: #009f0f;
  --special-button1-hover: #006b17;
  --chat-message-user: #7aff7a;
  --chat-message-assistant: #ff8282;
}

body.dark-mode {
  --background-color: #0a0a0a;
  --text-color: #e0e0e0;
  --sidebar-background: #181818;
  --sidebar-item-background: #535353;
  --sidebar-item-color: #e0e0e0;
  --sidebar-item-hover: #ebebeb;
  --sidebar-border: #c0c0c0;
  --chat-window-background: #252525;
  --chat-message-user: #004100;
  --chat-message-assistant: #410000;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.App {
  text-align: center;
  position: relative;
  overflow: hidden;
}

aside {
  background: var(--sidebar-background);
  padding: 10px;
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  border-right: 1px solid var(--sidebar-border);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  cursor: pointer;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.google-login-button {
  display: block;
}

input,
select {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background-color: var(--sidebar-background);
}

button {
  background-color: var(--special-button);
  border: 1px solid var(--);
  padding: 8px 12px;
  margin-top: 10px;
  margin-left: 15px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: var(--special-button-hover);
}

.result {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  margin-top: 20px;
  background-color: var(--sidebar-item-background);
}

.form-container {
  position: relative;
  transition: left 0.3s ease, height 0.3s ease;
  margin-top: 20px;
}

.form-fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  background-color: var(--sidebar-item-background);
  border: 1px solid var(--sidebar-border);
  border-radius: 0.625rem 0 0 0.625rem;
  padding: 20px;
  margin-left: 1%;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}

.form-fields label {
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--text-color);
  width: 100%;
}

.form-fields select,
.form-fields input {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  background-color: var(--background-color);
  border: 1px solid var(--sidebar-border);
  border-radius: 5px;
  color: var(--text-color);
  box-sizing: border-box;
}

.form-fields select:focus,
.form-fields input:focus {
  outline: none;
  border-color: var(--special-button);
  box-shadow: 0 0 0.3125rem rgba(0, 123, 255, 0.5);
}

.form-container button {
  background-color: var(--special-button1);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 auto 0 auto;
}

.form-container button:hover {
  background-color: var(--special-button1-hover);
}

main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  margin-top: 20px;
}

.form-centered {
  left: 50%; 
  transform: translateX(-50%);
}
.split-view {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-left {
  left: 0;
  height: 100%;
}

.tables-right {
  width: 45%;
  margin-left: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

table:first-child{
  margin: 0px 0px;
}

th,
td {
  border: 1px solid var(--sidebar-border);
  padding: 8px;
  text-align: left;
}

th {
  background-color: var(--background-color);
  text-align: center;
}

.horizontal-card {
  background: var(--sidebar-item-hover);
  margin: auto 0 auto 0;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}

.tables-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.td-center{
  text-align: center;
}

input::placeholder{
  color: var(--text-color)
}


/* */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

