.sidebar-container {
    border-top: 2px solid var(--sidebar-item-color); 
    border-bottom: 2px solid var(--sidebar-item-color);
    margin-top: 100px; 
  }
  
  aside .sidebar-item {
    background: var(--sidebar-item-background);
    color: var(--sidebar-item-text-color);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s;
    user-select: none;
  }
  
  aside .sidebar-item:hover {
    background-color: var(--sidebar-item-hover);
  }
  
  .sidebar-item {
    background: var(--sidebar-item-background);
    color: var(--sidebar-item-text-color);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s;
    border: 1px solid var(--sidebar-item-color);
  }
  
  .sidebar-item:hover {
    background-color: var(--sidebar-item-hover);
    color: var(--background-color);
  }
  
  .sidebar-open aside {
    transform: translateX(0);
  }
 